/* Global styles for Maqasee */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-bg: #F7F1E5;
}

body {
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}